*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#f7f7f7;
  color:#222;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:white;
  border-bottom:1px solid #ddd;
}

.logo{
  font-weight:700;
  font-size:20px;
}

nav a{
  margin:0 12px;
  text-decoration:none;
  color:#666;
}

nav a.active{
  color:#000;
  font-weight:600;
}

.cart{
  padding:6px 14px;
  border:1px solid #ccc;
  border-radius:20px;
  background:white;
}

.container{
  max-width:1100px;
  margin:20px auto;
  padding:0 20px;
}

.breadcrumb{
  font-size:13px;
  color:#777;
}

.back{
  display:inline-block;
  margin:10px 0;
  color:#555;
  text-decoration:none;
}

h1{
  text-align:center;
  margin-top:10px;
}

.sub{
  text-align:center;
  color:#777;
  margin-bottom:20px;
}

.stall-img{
  width:100%;
  border-radius:14px;
  margin-bottom:30px;
}

h2{
  text-align:center;
  margin:20px 0;
}

.search-box{
  display:flex;
  justify-content:center;
  margin-bottom:20px;
}

.search-box input{
  width:300px;
  padding:8px 14px;
  border-radius:20px;
  border:1px solid #ccc;
}

h3{
  margin:20px 0 10px;
}

.products{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}


.card{
  background:white;
  border-radius:14px;
  padding:12px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
  text-align:left;
}

.card img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:10px;
}

.card h4{
  margin:8px 0 4px;
  font-size:14px;
  font-weight:600;
}

.price{
  font-size:13px;
  color:#444;
}

