/* 
Both hawker_centers and food_stalls have similar 
layouts and thus use same CSS (hawker_centers.css) 
*/

/* Miscellaneous */
#nav-links li:nth-child(2) {
    background-color: #DBDFD0;
}

/* Banner */
#banner {
    width: auto;
    height: 400px;
    margin: 0 0 1rem 0;

    /* Need to search for better clearer image */
    background: url("../images/hawker_center/hawker_center_large.jpg") no-repeat center center / cover;
}

/* Hawker Center Container Grid */
.container {
    margin: 0 auto;
    max-width: 1352px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    gap: 1rem;
}

.container h3 {
    margin: 0;

    font-size: 2rem;
    color: #474747;

    grid-area: 1 / 1 / span 1 / span 3
}

input[type="search"] {
    width: 100%;
    height: 42px;
    padding: 0.5rem 1rem;
    border: 0.10rem solid #474747;
    border-radius: 25px;
}

/* Hawker Center */
.item {
    width: 100%;
    height: 286px;
    padding: 1.5rem;
    border-radius: 15px;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;

    color: #FFFFFF;

    background: 
        linear-gradient(to top right,rgba(3, 8, 31, 1), rgba(3, 8, 31, 0.8), rgba(3, 8, 31, 0.0), rgba(3, 8, 31, 0), rgba(3, 8, 31, 0)),
        linear-gradient(to left,rgba(3, 8, 31, 1), rgba(3, 8, 31, 0.4), rgba(3, 8, 31, 0.2), rgba(3, 8, 31, 0), rgba(3, 8, 31, 0)),

        /* Background URL needs to be changed when adding a item */
        url("../images/promotion/Dish1.jpg") no-repeat center center / cover;
}

.item p {
    margin: 0.2rem 0;
    font-weight: 600;
    text-align: left;
}

.highlight {
    color: #FC8A06;
}

/*style="background: url('bg1.jpg') center/cover;*/
@media (max-width: 1420px) {
    .container {
        max-width: 1010px;
        grid-template-columns: repeat(3, 1fr);
    }

    .container h3 {
        grid-area: 1 / 1 / span 1 / span 2
    }
}

@media (max-width: 1074px) {
    .container {
        max-width: 668px;
        grid-template-columns: repeat(2, 1fr);
    }

    .container h3 {
        grid-area: 1 / 1 / span 1 / span 1
    }
}

@media (max-width: 732px) {
    .container {
        max-width: 326px;
        grid-template-columns: repeat(1, 1fr);

        text-align: center;
    }   
}

@media (max-width: 390px) {
    .container {
        width: calc(100% - 4rem);
        margin: 0 2rem;
    }
}
