/* Miscellaneous */
#breadcrumbs {
    background-color: #FFFFFF;
}

#nav-links li:nth-child(4) {
    background-color: #DBDFD0;
}

/* Call to Action */
#cta {
    width: auto;
    height: 400px;
    padding: 0rem 2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("../images/promotion/cta2.svg") no-repeat center center / cover;
}

#cta h2 {
    width: auto;
    max-width: 640px;

    font-family: "Playfair Display";
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
}

#cta .highlight {
    color: #FF9247;
}

/* Promotions List */
#promotions-list {
    height: auto;
    margin-top: 1rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

/* Promotion Group */
.group {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.group h3 {
    width: 100%;
    max-width: 720px;
    margin: 0;

    text-align: center;
    font-size: 1.5rem;
}

/* Promotion Group Card */
.card {
    width: 100%;
    max-width: 720px;
    height: 400px;
    padding: 0rem 1.5rem 1.5em 1.5rem;
    border-radius: 0.75rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: auto;
}

.details-left {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 0.25rem;
}

.details-right {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.details-left p, .details-right p {
    margin: 0;

    color: #FFFFFF
}


/* Card Details */
.card .details-left .days-remaining {
    margin-bottom: 0.25rem;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;

    font-size: 1rem;
    font-weight: bold;
    color: #FF9247;
    
    background-color: rgba(255, 146, 71, 0.20);
}

.card .details-left .sub-text {
    font-size: 1.1rem;
}

.card .details-left .main-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.card .details-right .discount {
    padding: 1rem 0.8rem;
    border-radius: 0 0 0.5rem 0.5rem;

    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;

    background-color: #03081F;
}

.card .details-right .price-before {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.25)
}

.card .details-right .price-after {
    margin-top: 0.25rem;

    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 460px) {
    #cta h2 {
        font-size: 2rem;
    }
}